/* Accueil.css ou App.css */
.accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.headerContainer {
  text-align: center;
}

.headerContainer h1 {
  font-size: 3rem;
  color: #2c3e50;
}

.headerContainer p {
  font-size: 1.5rem;
  color: #34495e;
}

.headerContainer button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.headerContainer button:hover {
  background-color: #3498db;
}
